@{
}
@using Common.Types;
@model Notification;

<div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
    <div class="d-flex justify-content-between mb-1">
        <button class="btn btn-sm btn-danger" onclick="deleteNotification(@Model.NotificationID)">Delete</button>
        <small class="text-muted">@Model.CreatedOn</small>
    </div>

    <div class="mb-1">
        @Model.ActionPerformedBy
    </div>

    <div>
        @Model.NotificationText
    </div>
</div>
