@{
}
<div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">{{ item.username }}</h5>
		<small class="text-muted">{{ item.createdAt | date:'short' }}</small>
	</div>
	<p class="mb-1">{{ item.text }}</p>
</div>