@{
}

<div>
	<h3 class="mb-4">Sign In</h3>
	<form>
		<div class="mb-3">
			<label for="signinEmail" class="form-label">Email address</label>
			<input type="email" class="form-control" id="signinEmail" placeholder="Enter email">
		</div>
		<div class="mb-3">
			<label for="signinPassword" class="form-label">Password</label>
			<input type="password" class="form-control" id="signinPassword" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-primary w-100">Sign In</button>
	</form>
	<p class="text-center mt-3">
		Don't have an account?
		<a routerLink="/signup">Sign Up</a>
	</p>
</div>
