@{
}

@using Common.Types;

<div class="modal fade" id="AddSplitModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Enter Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                    <!-- Section 1 -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="SplitDescription" name="description" />
                    </div>
                    <div class="mb-3 row align-items-end">
                        <div class="col">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="number" class="form-control" id="SplitAmount" name="amount" />
                        </div>
                        <div class="col-auto">
                            <div class="btn-group" role="group" aria-label="Splitting Type">
                                <input type="radio" class="btn-check" name="splittingType" id="splitByEqual" value="E" autocomplete="off" checked>
                                <label class="btn btn-outline-secondary" for="splitEqual">•|•</label>

                                <input type="radio" class="btn-check" name="splittingType" id="splitByAmount" value="A" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="splitAmount">$</label>

                                <input type="radio" class="btn-check" name="splittingType" id="splitByPercent" value="P" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="splitPercent">%</label>
                            </div>

                        </div>
                    </div>


                    <ul id="ParticipantsList" class="list-group">
                        <!-- this will be dynamically injected via JS later on, as well as need to keep track it using index or something -->                       
                    </ul>

                    <!-- Section 2, the list has to be dynamically loaded, and remove the element each time i add it into the list -->
                    <div class="mb-3">
					    <input type="text" class="form-control" id="ContactSelectionSearch" placeholder="Search for a contact..." autocomplete="off" />
                        <ul id="ContactSelectionDropdown" class="list-group"></ul>
                    </div>

                    
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SplitSubmitButton">Submit</button>
            </div>
        </div>
    </div>
</div>

