@{
}

@using Common.Types;
@model List<ContactDto>

<div class="modal fade" id="AddSplitModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Enter Details</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>

            <div class="modal-body">
                    <!-- Section 1 -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" />
                    </div>
                    <div class="mb-3 row align-items-end">
                        <div class="col">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" />
                        </div>
                        <div class="col-auto">
                            <label class="form-label d-block">&nbsp;</label>
                            <button type="button" id="AmountDistributionType" class="btn btn-outline-secondary" value="P">%</button>
                        </div>
                    </div>

                    <!-- Section 2, the list has to be dynamically loaded, and remove the element each time i add it into the list -->
                    <div class="mb-3">
                        <label for="ParticipantSelectionDropdown" class="form-label">Select Item</label>
                        <select class="form-select" id="ParticipantSelectionDropdown">
                        @foreach(ContactDto contact in Model)
                        {
                            <option value="@contact.UserData.UserID">@contact.UserData.FullName (<span class="text-muted">@contact.UserData.UserName</span>)</option>
                        }
                    </select>
                    </div>

                    <div id="ParticipantsList" class="list-group">
                        <!-- this will be dynamically injected via JS later on, as well as need to keep track it using index or something -->                       
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

