@{
	ViewData["title"] = "Contacts | esplit";
}

@using Common.Types;
@model List<ContactDto>;

<div class="container mt-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<div>
			<button class="btn btn-danger me-2" onclick="toggleDeleteMode()">
				{{ deleteMode ? 'Cancel Delete' : 'Delete' }}
			</button>
			<button class="btn btn-success" onclick="addContact()">
				Add
			</button>
		</div>
	</div>

	<div class="list-group">
		<!--here iterate through contacts template-->
		@foreach(ContactDto c in Model)
		{
			@await Html.PartialAsync("_ContactCard", c);
		}
	</div>
</div>
